tqdm
opencv-python
scipy
spacy
accelerate
transformers
einops
diffusers
panda3d
git+https://githubfast.com/openai/CLIP.git

# for generation demo
gradio

# for train 
tensorboard
smplx

# matplotlib=3.3.1